
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    padding: 40px 0; 
}

/* ----------------------- diemnsionamento titoli */
h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
}

h3 {
    font-size: 30px;
    padding-bottom: 25px;
    color: white;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
    color: rgb(36, 39, 42);
    text-align: center;

}

/* ------------------------ allineamento ul */
.align-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 5px;
}

a {
    padding: 7px;
    display: inline-block;
    color: white;
}

/* ------------------------ sezione sotto nav */

.sect-1 {
    background-image: url("../imgs/jumbo.png");
    background-size: 100%;
}

.pad-sec1 {
    text-align: center;
}


/*------------------------- bottoni*/
.button-style {
    border-radius: 25px;
    border: none;
    color: rgb(36, 39, 42);
    background-color: white;    
}

.btn-white {
    font-size: 18px;
    color: rgb(36, 39, 42);
    background-color: white;
    padding: 5px 8px;
}

.btn-black {
    font-size: 18px;
    color: white;
    background-color: rgb(36, 39, 42);
    padding: 5px 8px;
}

.btn-small {
    font-size: 10px;
    padding: 2px 8px;
}

/* ------------------------- contenitori principali*/
.conteiner {
    margin: 0 auto;
    width: 920px; 
}

.conteiner-sec {
    width: 700px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px;
}

header {
    background-color: rgb(51, 98, 224);
    padding: 8px 0;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    
}


/* ------------------------- colonne header*/
.header-col-lateral {
    display: flex;
    flex-basis: 30%;
    padding: 6px;
}

.header-col-lateral-dx {
    flex-basis: 30%;
    text-align: right;
    display: flex;
    justify-content: right;
}

.header-col-central {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}


.section-fill {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    
}

/* ---------------------- colonne sezioni */
.col-1 {
    flex-basis: 60%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    justify-content: center
    
}

.sfondo-grigio {
    background-color: lightgray;
    text-align: center;
}


.sfondo-nero {
    display: flex;
    align-content: stretch;
    background-color: black;
}

/* ----------------------------- colonne inferiori */
.col-3 {
    list-style: none;
    flex-basis: 30%;
    color: white;
    text-align: center;
}

.col-4 {
    flex-basis: 40%;
}

ul {
    list-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
}


footer {
    background-color: black;
}

.footer-align {
    display: flex;
    justify-content: space-between;
    text-align: center;
}