
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    padding: 40px 0; 
}

h1 {
    font-size: 40px;
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

p {
    padding-bottom: 20px;
    color: rgb(36, 39, 42);

}

/* ------------------------ allineamento ul */
.align-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 5px;
}

a {
    padding: 7px;
    display: inline-block;
    color: white;
}

/* ------------------------ sezione sotto nav */

.sect-1 {
    background-color: blue;
    background-image: url("../imgs/jumbo.png");
    background-size: 100%;
}

.pad-sec1 {
    text-align: center;
}


/*------------------------- bottoni*/
.button-style {
    border-radius: 25px;
    border: none;
    color: rgb(36, 39, 42);
    background-color: white;    
}

.btn-white {
    color: rgb(36, 39, 42);
    background-color: white;
}

.btn-small {
    font-size: 10px;
    padding: 2px 8px;
}

/* ------------------------- contenitori principali*/
.conteiner {
    margin: 0 auto;
    width: 920px; 
}

.conteiner-sec {
    width: 700px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px;
}

header {
    background-color: rgb(51, 98, 224);
    padding: 8px 0;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    
}


/* ------------------------- colonne header*/
.header-col-lateral {
    display: flex;
    flex-basis: 30%;
    padding: 6px;
}

.header-col-lateral-dx {
    flex-basis: 30%;
    text-align: right;
    display: flex;
    justify-content: right;
}

.header-col-central {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.riempimento {
    padding: 50px;
}

.section-fill {
    display: flex;
    justify-content: center;
}

/* ---------------------- colonne sezioni */
.col-1 {
    width: 100%;
}

.col-2 {
    background-color: brown;
    width: 70%;
    padding: 60px;
    border: 1px solid green;
}

.sfondo-grigio {
    background-color: lightgray;
}

.box-inferiore {
    background-color: brown;
    width: 100%;
    padding: 200px;
}


.sfondo-nero {
    display: flex;
    align-content: stretch;
    background-color: black;
}

.col-3 {
    background-color: blueviolet;
    width: 30%;
    padding: 60px;
    border: 1px solid black;
}

.col-4 {
    background-color: brown;
    width: 70%;
    padding: 60px;
    border: 1px solid green;
}

footer {
    display: flex;
    justify-content: space-between;
}